<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4">Mean</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/secret" class="nav-link">Secret</a></li>
      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      <li class="nav-item"><a
          href="/logoutall"
          class="nav-link"
        >LogoutAll</a></li>
      <li class="nav-item"><a
          href="/register"
          class="nav-link"
        >Register</a></li>
    </ul>
  </header>
</div>