<html lang="en">
  <head>
    {{>header}}
    <title>Secret page</title>
  </head>
  <body>
    <center>
      {{>navbar}}

    </center>
    <div class="container">

    <main>
    <h1>Welcome to secret page</h1>
    <p class="fs-5 col-md-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure rerum impedit, perferendis, perspiciatis modi sint omnis accusamus, placeat optio voluptatibus fugit quas aliquam neque saepe.</p>

  

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere odit ullam dolore! Libero esse tenetur architecto excepturi optio repellat neque?</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a href="#" rel="noopener" target="_blank">Lorem, ipsum dolor.</a></li>
          <li class="text-muted d-flex align-items-start mb-1">Lorem, ipsum dolor. (coming soon!)</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Lorem</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eveniet omnis doloremque porro laborum.</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a href="#">Lorem ipsum dolor sit amet.</a></li>
          <li class="d-flex align-items-start mb-1"><a href="#">Lorem, ipsum dolor.</a></li>
          <li class="d-flex align-items-start mb-1"><a href="#">Lorem, ipsum dolor.</a></li>
          <li class="d-flex align-items-start mb-1"><a href="#">Lorem ipsum dolor sit amet.</a></li>
          <li class="d-flex align-items-start mb-1"><a href="#">Lorem ipsum dolor sit.</a></li>
        </ul>
      </div>
    </div>
    </div>
  </main>
  
  </body>
</html>